.vscode/**
.vscode-test/**
.galaxy/**
documents/**
out/**
node_modules/**
src/**
webview/**
.gitignore
.yarnrc
figma-imports.jsonl
*.vsix
esbuild.js
vite.config.ts
tailwind.config.ts
postcss.config.cjs
vsc-extension-quickstart.md
bun.lock
**/tsconfig.json
**/tsconfig.webview.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.tsx
**/.vscode-test.*
